/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: black;
    overflow: auto;
}

.upper-frame {
    background-color: black;
    height: 50px;
}

.first-row {
    display: flex;
    flex-direction: row;
}

img {
    width: calc(100vw / 7);
    padding-right: 5px;
    padding-bottom: 10px;
}